body {
    background-image: url(./images/background3.jpg);
    background-size: cover;
    min-height: 30rem;
    font-family: "Gotham SSm A", "Gotham SSm B", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.logo {
    color: white;
    margin: auto;
    width: 15rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @media screen and (max-width: 30rem) {
        width: 70%;
    }
    @media screen and (max-width: 50rem) and (min-width: 30rem) {
        width: 50%;
    }
}

.contain-div {
    display: flex;
    flex-direction: column;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.d-flex {
    display: flex;
}

.input-box {
    padding: 1rem;

    &:focus {
        border: solid blue;
        border-radius: 2px;
        border: 1px;
        padding: 1rem;
    }
}

.login-button {
    width: 100%;
    margin-top: 0.5rem;
    padding: 1rem;
    background-color: #6a0659;
    color: white;
    border: solid #6a0659;
    cursor: pointer;

    &:hover {
        background-color: darken($color: #6a0659, $amount: 3);
        border: solid darken($color: #6a0659, $amount: 3);
    }
}

.pass-text {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(92, 92, 92);

    &-div {
        display: flex;
        
        &-pass {
            text-decoration: none;
            color: #6a0659;
        }
    }
}

.icon {
    height: 2rem;
    margin: 0.5rem;
    position: absolute;
}

.icon-left {
    display: flex;
}

.bankid-text {
    display: flex;
    align-self: center;
    margin: auto;
    font-size: 0.8rem;
}

.warning {
    font-size: 0.6rem;
    color: rgb(196, 0, 0);
    text-align: center;
}

.bankid {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 0.5px solid gray;
    border-radius: 2px;
    height: 3rem;

    &:hover {
        background-color: darken($color: white, $amount: 6);
    }
}

@import "utilities/reset";
@import "utilities/container";