body {
    background-image: url(/images/background3.jpg);
    background-size: cover;
    min-height: 30rem;
}

.logo {
    color: white;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container {
    background-color: white;
    min-width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5rem;
    border-radius: 5px;
}

.contain-div {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.d-flex {
    display: flex;
}

.input-box {
    padding: 1rem;

    &:focus {
        border: solid blue;
        border-radius: 2px;
        border: 1px;
        padding: 1rem;
    }
}

.login-button {
    width: 100%;
    margin-top: 0.5rem;
    padding: 1rem;
    background-color: #6a0659;
    color: white;
    border: solid #6a0659;
    cursor: pointer;

    &:hover {
        background-color: darken($color: #6a0659, $amount: 3);
        border: solid darken($color: #6a0659, $amount: 3);
    }
}

.icon {
    height: 2rem;
    margin: 0.5rem;
}

.icon-left {
    display: flex;
}

.bankid-text {
    display: flex;
    align-self: center;
    margin-left: 15%;
}

.bankid {
    display: flex;
    flex-direction: row;
}

@import "utilities/reset";