body {
  background-image: url(./images/background3.jpg);
  background-size: cover;
  min-height: 30rem;
  font-family: "Gotham SSm A", "Gotham SSm B", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.logo {
  color: white;
  margin: auto;
  width: 15rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 30rem) {
  .logo {
    width: 70%;
  }
}
@media screen and (max-width: 50rem) and (min-width: 30rem) {
  .logo {
    width: 50%;
  }
}

.container {
  background-color: white;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5rem;
  border-radius: 5px;
  padding-top: 2rem;
}
@media screen and (max-width: 30rem) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 50rem) and (min-width: 30rem) {
  .container {
    width: 70%;
  }
}

.contain-div {
  display: flex;
  flex-direction: column;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.d-flex {
  display: flex;
}

.input-box {
  padding: 1rem;
}
.input-box:focus {
  border: solid blue;
  border-radius: 2px;
  border: 1px;
  padding: 1rem;
}

.login-button {
  width: 100%;
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: #6a0659;
  color: white;
  border: solid #6a0659;
  cursor: pointer;
}
.login-button:hover {
  background-color: #5c054d;
  border: solid #5c054d;
}

.pass-text {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #5c5c5c;
}
.pass-text-div {
  display: flex;
}
.pass-text-div-pass {
  text-decoration: none;
  color: #6a0659;
}

.icon {
  height: 2rem;
  margin: 0.5rem;
  position: absolute;
}

.icon-left {
  display: flex;
}

.bankid-text {
  display: flex;
  align-self: center;
  margin: auto;
  font-size: 0.8rem;
}

.warning {
  font-size: 0.6rem;
  color: #c40000;
  text-align: center;
}

.bankid {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 0.5px solid gray;
  border-radius: 2px;
  height: 3rem;
}
.bankid:hover {
  background-color: #f0f0f0;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*# sourceMappingURL=style.css.map */
